<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<!-- Unwanted checks should not be removed; they should have their severity reduced
     to "ignore" to signal the intention to ignore, rather than the ommission to include -->

<module name="Checker">
    <module name="FileLength">
        <property name="severity" value="warning"/>
    </module>

    <module name="FileTabCharacter">
        <property name="severity" value="warning"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
        <property name="severity" value="ignore"/>
    </module>

    <module name="TreeWalker">
        <module name="ArrayTypeStyle">
            <property name="severity" value="warning"/>
        </module>
        <module name="FinalParameters">
            <property name="severity" value="ignore"/>
        </module>

        <module name="ModifierOrder">
            <property name="severity" value="warning"/>
        </module>
        <module name="RedundantModifier">
            <property name="severity" value="ignore"/>
        </module>
        <module name="TodoComment">
            <property name="format" value="FIXME"/>
            <property name="severity" value="info"/>
        </module>
        <module name="TodoComment">
            <property name="format" value="TODO"/>
            <property name="severity" value="info"/>
        </module>
        <module name="UpperEll">
            <property name="severity" value="warning"/>
        </module>
        <module name="blocks.AvoidNestedBlocks">
            <property name="severity" value="warning"/>
        </module>
        <module name="blocks.EmptyBlock">
            <property name="option" value="stmt"/>
            <property name="severity" value="warning"/>
            <property name="tokens"
                      value="LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, STATIC_INIT"/>
        </module>
        <module name="LeftCurly">
            <property name="maxLineLength" value="100"/>
            <property name="option" value="nl"/>
            <property name="severity" value="warning"/>
            <property name="tokens"
                      value="CLASS_DEF, CTOR_DEF, INTERFACE_DEF, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, METHOD_DEF"/>
        </module>
        <module name="blocks.NeedBraces">
            <property name="severity" value="warning"/>
        </module>
        <module name="blocks.RightCurly">
            <property name="option" value="alone"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.AvoidInlineConditionals">
            <property name="severity" value="ignore"/>
        </module>
        <module name="coding.DoubleCheckedLocking">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.EmptyStatement">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.EqualsHashCode">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.HiddenField">
            <property name="ignoreSetter" value="true"/>
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.IllegalInstantiation">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.InnerAssignment">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.MagicNumber">
            <property name="severity" value="ignore"/>
        </module>
        <module name="coding.MissingSwitchDefault">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.RedundantThrows">
            <property name="severity" value="ignore"/>
        </module>
        <module name="coding.SimplifyBooleanExpression">
            <property name="severity" value="warning"/>
        </module>
        <module name="coding.SimplifyBooleanReturn">
            <property name="severity" value="warning"/>
        </module>
        <module name="design.DesignForExtension">
            <property name="severity" value="ignore"/>
        </module>
        <module name="design.FinalClass">
            <property name="severity" value="ignore"/>
        </module>
        <module name="design.HideUtilityClassConstructor">
            <property name="severity" value="warning"/>
        </module>
        <module name="design.InterfaceIsType">
            <property name="severity" value="warning"/>
        </module>
        <module name="design.VisibilityModifier">
            <property name="severity" value="warning"/>
        </module>
        <module name="imports.AvoidStarImport">
            <property name="severity" value="warning"/>
        </module>
        <module name="imports.IllegalImport">
            <property name="severity" value="warning"/>
        </module>
        <module name="imports.RedundantImport">
            <property name="severity" value="warning"/>
        </module>
        <module name="imports.UnusedImports">
            <property name="severity" value="warning"/>
        </module>
        <module name="javadoc.JavadocMethod">
            <property name="severity" value="warning"/>
        </module>
        <module name="javadoc.JavadocType">
            <property name="severity" value="warning"/>
        </module>
        <module name="javadoc.JavadocVariable">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.ConstantName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.LocalFinalVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.LocalVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.MemberName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.MethodName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.PackageName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.ParameterName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.StaticVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="naming.TypeName">
            <property name="severity" value="warning"/>
        </module>
        <module name="LineLength">
            <property name="max" value="100"/>
            <property name="severity" value="warning"/>
            <property name="tabWidth" value="4"/>
            <property name="ignorePattern" value="^.*\*.*$"/>
        </module>
        <module name="sizes.MethodLength">
            <property name="severity" value="warning"/>
        </module>
        <module name="sizes.ParameterNumber">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.EmptyForIteratorPad">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.NoWhitespaceAfter">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.NoWhitespaceBefore">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.OperatorWrap">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.ParenPad">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.WhitespaceAfter">
            <property name="severity" value="warning"/>
        </module>
        <module name="whitespace.WhitespaceAround">
            <property name="severity" value="warning"/>
        </module>
    </module>
</module>
